ErrorDocument 404 http://localhost/Project/Hotal%20management%20system/Hotel-Management-System/404.php

ErrorDocument 505 http://localhost/Project/Hotal%20management%20system/Hotel-Management-System/505.php

